.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--hovered {
    color: $logoWebColor;
    font-family: $alternativeFontFamily;
  }
}
