.ourteam {
  background-color: $thirdBackgroundColor;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  margin: 0 auto;

  &__delay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    gap: 30px;
  }
  &__picture {
    width: 100%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $secondaryColor;
    &:last-child {
      margin-bottom: 60px;
    }
  }
  &__headline {
    width: 163px;
    margin-bottom: 30px;
    margin-top: 60px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    margin: 30px 99px 10px 99px;
  }
  &__position {
    color: $alternativeColor;
    font-size: 16px;
    line-height: 1.17;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}

.social {
  display: flex;
  width: 206px;
  gap: 10px;
  margin-bottom: 30px;
  &__icons {
    display: flex;
    fill: #afb1b8;
    width: 44px;
    height: 44px;
    border: 1px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: #2196f3;
      fill: $secondaryColor;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .ourteam__picture {
    width: 450px;
  }
  .ourteam__item {
    width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .ourteam__list {
    display: flex;
    width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 62px;
  }
  .ourteam__delay {
    width: 768px;
  }
  .ourteam__item {
    width: 354px;
    height: 536px;
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .ourteam__picture {
      width: 354px;
      height: 374px;
    }
  }
}

@media (min-width: 1200px) {
  @include padding-on-tablet;
  .ourteam__list {
    display: flex;
    width: 1170px;
    flex-direction: row;
    gap: 30px;
  }
  .ourteam__picture {
    width: 270px;
    height: 260px;
  }
  .ourteam__item {
    width: 270px;
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .ourteam__item:nth-child(n) {
    margin-bottom: 0;
  }
  .ourteam__headline {
    width: 210px;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .ourteam__position {
    margin: 0;
  }
}
