.our-clients {
  width: 100vw;
  background-color: $secondaryColor;
  display: flex;
  justify-content: center;

  margin: 0 auto;
  &__overlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  &__headline {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 0;
    margin-bottom: 30px;
    margin-top: 60px;
  }

  .our-clients__list {
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .our-clients__item {
    fill: $colorFiller;
    height: 92px;
    border-radius: 4px;
    flex-basis: calc((100% - 2 * 30px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: cursormovein 0.5s forwards;
  }
  .our-clients__item:hover {
    animation: cursormoveout 0.5s forwards;
  }
  .our-clients__icon {
    width: 106px;
  }
}

@keyframes cursormoveout {
  from {
    fill: $colorFiller;
    border: 1px solid $colorFiller;
  }
  to {
    fill: $logoWebColor;
    border: 1px solid $logoWebColor;
  }
}
@keyframes cursormovein {
  from {
    fill: $logoWebColor;
    border: 1px solid $logoWebColor;
  }
  to {
    fill: $colorFiller;
    border: 1px solid $colorFiller;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .our-clients {
    width: 450px;
  }
  .our-clients__item {
    width: 210px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .our-clients {
    width: 738px;
  }
  .our-clients__headline {
    margin-top: 58px;
    margin-bottom: 30px;
  }
  .our-clients__list {
    width: 738px;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .our-clients__item {
    width: 226px;
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}
@media (min-width: 1200px) {
  .our-clients {
    width: 1170px;
  }
  .our-clients__list {
    width: 1170px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }
  .our-clients__item {
    max-width: 170px;
  }
}
