.our-clients {
  width: 1170px;
  background-color: $secondaryColor;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

&_overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
&__headline {
  margin-top: 0;
  margin-bottom: 50px;
}

&__list {
  display: flex;
  gap: 30px;
  margin: 0;
}
&_item {
  fill: $colorFiller;
  width: 170px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  animation: cursormovein 0.5s forwards;
  &:hover svg {
    animation: cursormoveout 0.5s forwards;
  }
}
@keyframes cursormoveout {
  from {
    fill: $colorFiller;
    border: 1px solid $colorFiller;
  }
  to {
    fill: $logoWebColor;
    border: 1px solid $logoWebColor;
  }
}
@keyframes cursormovein {
  from {
    fill: $logoWebColor;
    border: 1px solid $logoWebColor;
  }
  to {
    fill: $colorFiller;
    border: 1px solid $colorFiller;
  }
}
