.our-clients {
  min-width: 320px;
  background-color: $secondaryColor;
  display: flex;
  margin: 0 auto;
}

.our-clients__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.our-clients__headline {
  display: flex;
  width: 314px;
  margin-top: 60px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.our-clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  gap: 30px;
}
.our-clients__item {
  fill: $colorFiller;

  &:hover svg {
    animation: cursormoveout 0.5s forwards;
  }
}
.our-clients__icon {
  fill: $colorFiller;
  display: flex;
  width: 210px;
  height: 92px;
  justify-content: center;
  border: 1px solid $colorFiller;
  border-radius: 4px;
  animation: cursormovein 0.5s forwards;
}

@keyframes cursormoveout {
  from {
    fill: $colorFiller;
    border: 1px solid $colorFiller;
  }
  to {
    fill: $logoWebColor;
    border: 1px solid $logoWebColor;
  }
}
@keyframes cursormovein {
  from {
    fill: $logoWebColor;
    border: 1px solid $logoWebColor;
  }
  to {
    fill: $colorFiller;
    border: 1px solid $colorFiller;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .our-clients {
    min-width: 768px;
  }
  .our-clients__overlay {
    min-width: 768px;
  }
  .our-clients__item {
    width: 226px;
  }
  .our-clients__icon {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .our-clients {
    min-width: 1200px;
  }
  .our-clients__overlay {
    min-width: 1200px;
  }
  .our-clients__list {
    margin: 0 auto;
  }
  .our-clients__item {
    width: 170px;
  }
  .our-clients__icon {
    width: 170px;
  }
  .our-clients__headline {
    margin-top: 0;
  }
}
