.page-header {
  border-bottom: 1px solid #ececec;
  background-color: $secondaryColor;
}

.page-header__overlay {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.page-header__logo {
  color: $logoMainColor;
  font-family: $alternativeFontFamily;
  margin-left: 15px;
}

.logo--hovered {
  color: $logoWebColor;
  font-weight: 700;
  font-family: $alternativeFontFamily;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
.navigation {
  align-content: center;
  @include navigationGeometryMixin(83px);
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 282px;
  }
  &--portfolio {
    @include navigationGeometryMixin(88px);
    width: 261px;
  }
  &__link {
    color: $mainColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $logoWebColor;
    }
    &--underscore2::after {
      @include underscoreAfterMixin(58px);
    }
    &--underscore {
      position: relative;
      justify-content: end;
      &::after {
        @include underscoreAfterMixin(53px);
      }
    }
  }
}
.mobile {
  display: flex;
  gap: 101px;
}
.contact {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-right: 15px;
  &__icon {
    fill: #757575;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover svg,
    &:focus svg {
      fill: $logoWebColor;
    }
  }
  &--first {
    width: 135px;
  }
  &--second {
    width: 110px;
  }
  &__link {
    color: $alternativeColor;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $logoWebColor;
    }
  }
}
