.page-header {
  border-bottom: 1px solid #ececec;
  background-color: $secondaryColor;
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
}

.page-header__overlay {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 16px;
  justify-content: space-between;
  margin: 0 auto;
}
.page-header__logo {
  color: $logoMainColor;
  font-family: $alternativeFontFamily;
}

.logo--hovered {
  color: $logoWebColor;
  font-weight: 700;
  font-family: $alternativeFontFamily;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
.navigation {
  align-content: center;
  @include navigationGeometryMixin(83px);
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 282px;
  }
  &--portfolio {
    @include navigationGeometryMixin(88px);
    width: 261px;
  }
  &__link {
    color: $mainColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $logoWebColor;
    }
    &--underscore2::after {
      @include underscoreAfterMixin(58px);
    }
    &--underscore {
      position: relative;
      justify-content: end;
      &::after {
        @include underscoreAfterMixin(53px);
      }
    }
  }
}
.contact {
  display: flex;
  gap: 10px;
  flex-direction: column;
  &__icon {
    fill: #757575;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover svg,
    &:focus svg {
      fill: $logoWebColor;
    }
  }
  &--first {
    width: 135px;
  }
  &--second {
    width: 110px;
  }
  &__link {
    color: $alternativeColor;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $logoWebColor;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  @include hide-on-mobile;
  .page-header__overlay {
    max-width: 767px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  @include hide-on-tablet;

  .navigation__item {
    align-items: center;
  }
  .page-header__overlay {
    height: 80px;
    margin: 0 auto;
  }
  .menu__button {
    display: none;
  }
}
@media (min-width: 1200px) {
  .menu__button {
    display: none;
  }
  .page-header {
    margin: 0 auto;
  }
  .page-header__overlay {
    min-width: 1200px;
  }
  .page-header__logo {
    margin-left: 0;
  }
  .contact {
    flex-direction: row;
    gap: 30px;
    margin-right: 0;
  }
  .contact__item {
    gap: 10px;
  }
  .contact__link {
    font-size: 14px;
  }
  .navigation {
    @include navigationGeometryMixin(93px);
  }
  .navigation__item {
    gap: 46px;
    width: 254px;
  }
  .page-header__overlay {
    flex-wrap: wrap;
    width: 1170px;
    height: 80px;
    margin: 0 auto;
  }
}
