.products {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    padding: 20px 24px 4px 24px;
    margin: 0;
  }
  &__description {
    color: $alternativeColor;
    font-size: 16px;
    line-height: 1.87;
    padding: 0px 24px 20px 24px;
    margin: 0;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    color: $secondaryColor;
    top: 0;
    left: 0;
    transform: translateY(102%);
    transition: transform 250ms ease;
  }
  &__item {
    position: relative;
    overflow: hidden;
  }
}

.buttons {
  width: 100%;
  margin: 0;
  padding: 60px 73px 40px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &__item {
    font-weight: 500;
    background-color: $thirdBackgroundColor;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    border: 0px solid;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &--all {
      padding-left: 13px;
      padding-right: 13px;
    }
    &--pages {
      padding-left: 40px;
      padding-right: 39px;
    }
    &--aplications {
      padding-left: 37px;
      padding-right: 38px;
    }
    &--design {
      padding-left: 28px;
      padding-right: 28px;
    }
    &--marketing {
      padding-left: 27px;
      padding-right: 26px;
    }
    &:hover,
    &:focus {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      color: $secondaryColor;
      background-color: $logoWebColor;
    }
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  &__item {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:last-child {
      margin-bottom: 60px;
    }
    &:hover {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      & .products__overlay {
        transform: translatey(0);
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .buttons {
    padding: 60px 61px 30px 62px;
  }
  .grid__item {
    width: 354px;
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  .products__image {
    width: 354px;
    height: 294px;
  }
}
@media (min-width: 1200px) {
  .buttons {
    padding: 0;
    padding-bottom: 50px;
    justify-content: center;
    &--all {
      padding-left: 22px;
      padding-right: 22px;
    }
    &--pages {
      padding-left: 22px;
      padding-right: 22px;
    }
    &--aplications {
      padding-left: 22px;
      padding-right: 22px;
    }
    &--design {
      padding-left: 22px;
      padding-right: 22px;
    }
    &--marketing {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  .grid__item {
    width: 370px;
    flex-basis: calc((100% - 2 * 30px) / 3);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
