@mixin hide-on-mobile {
  .navigation,
  .contact,
  .aboutus {
    display: none;
  }
}
@mixin hide-on-tablet {
  .aboutus {
    display: none;
  }
}
@mixin padding-on-tablet {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@mixin underscoreAfterMixin($width) {
  content: "";
  display: block;
  position: absolute;
  width: $width;
  height: 4px;
  background-color: $logoWebColor;
  border-radius: 2px;
  margin-top: 28px;
}

@mixin navigationGeometryMixin($margin-left) {
  display: flex;
  flex: 1;
  margin-left: $margin-left;
}
