$primaryBackgroundColor: #e5e5e5;
$secondaryBackgroundColor: #2f303a;
$thirdBackgroundColor: #f5f4fa;
$alternativeFontFamily: "raleway";
$alternativeColor: #757575;
$logoWebColor: #2196f3;
$logoMainColor: #000000;
$mainColor: #212121;
$secondaryColor: #ffffff;
$colorFiller: #afb1b8;
$fontFamily: "Roboto", sans-serif;
$boxShadowColor: #1869ac;
