$primaryBackgroundColor: #e5e5e5;
$secondaryBackgroundColor: #2f303a;
$thirdBackgroundColor: #f5f4fa;
$alternativeFontFamily: "raleway";
$alternativeColor: #757575;
$logoWebColor: #2196f3;
$logoMainColor: #000000;
$mainColor: #212121;
$secondaryColor: #ffffff;
$colorFiller: #afb1b8;
$fontFamily: "Roboto", sans-serif;
$boxShadowColor: #1869ac;

@mixin underscoreAfterMixin($width) {
  content: "";
  display: block;
  position: absolute;
  width: $width;
  height: 4px;
  background-color: $logoWebColor;
  border-radius: 2px;
  margin-top: 28px;
}

@mixin navigationGeometryMixin($margin-left) {
  display: flex;
  flex: 1;
  margin-left: $margin-left;
}
